{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active">Shop</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<main class="inner-page-sec-padding-bottom">
			<div class="container">
				
				<div class="shop-toolbar mb--30">
					<div class="row align-items-center">
						<div class="col-lg-2 col-md-2 col-sm-6">
							<!-- Product View Mode -->

							<div class="product-view-mode">

								<a href="{% url 'base:shop' 'grand' %}"  class="sorting-btn {% if this == 'grand' %}active{% endif %}" ><i class="fas fa-th"></i></a>

								<a href="{% url 'base:shop' 'grid' %}"  class="sorting-btn {% if this == 'grid' %}active{% endif %}" >
									<span class="grid-four-icon">
										<i class="fas fa-grip-vertical"></i><i class="fas fa-grip-vertical"></i>
									</span>
								</a>

								<a href="{% url 'base:shop' 'shop' %}" class="sorting-btn {% if this != 'grand' and this != 'grid' %}active{% endif %}"><i
										class="fas fa-list"></i></a>
							</div>

						</div>
						<div class="col-xl-5 col-md-4 col-sm-6  mt--10 mt-sm--0">
							<span class="toolbar-status">
								Showing 1 to{% if count < 20 %} {{count}} {% else %} 20 of {{count}} {% endif %} 
							</span>
						</div>

						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 mt--10 mt-md--0 ">
							<div class="sorting-selection">
								<form method="post"  hx-post="{% url 'base:shop' this %}" hx-target="body">


								    <select class="form-control nice-select sort-select mr-0 btn " style="border: 2px solid #eeeeee;" name="sort_option" onchange="this								.form.submit()">
								        <option value="0" {% if sort_option == 0 or sort_option == None %}selected{% endif %}>Default Sorting</option>
								        <option value="1" {% if sort_option == 1 %}selected{% endif %}>Sort By: Name (A - Z)</option>
								        <option value="2" {% if sort_option == 2 %}selected{% endif %}>Sort By: Name (Z - A)</option>
								        <option value="3" {% if sort_option == 3 %}selected{% endif %}>Sort By: Price (Low > High)</option>
								        <option value="4" {% if sort_option == 4 %}selected{% endif %}>Sort By: Price (High > Low)</option>
								        <option value="5" {% if sort_option == 5 %}selected{% endif %}>Sort By: Rating (Highest)</option>
								        <option value="6" {% if sort_option == 6 %}selected{% endif %}>Sort By: Rating (Lowest)</option>
								    </select>
								    {% csrf_token %}
								</form>

							</div>
						</div>
					</div>
				</div>
				





				
				<div class="{% if this == 'grand' %}shop-product-wrap grid with-pagination row space-db--30 shop-border{% else %}shop-product-wrap with-pagination row space-db--30 shop-border grid-four{% endif %}">
					{% for prd in all_products %}
					<div class="col-lg-4 col-sm-6">
						<div class="product-card">
							<div class="product-grid-content">
								<div class="product-header">
									<a href="{% url 'base:product' prd.pid prd.id %}" class="author">
									{% if prd.author %}
                                    {% if prd.author|length > 26 %}
                                        {{ prd.author|slice:":26" }}...
                                    {% else %}
                                        {{ prd.author }}
                                    {% endif %}
                                    {% endif %}
									</a>
									<h3><a href="{% url 'base:product' prd.pid prd.id %}">{% if prd.name %}
                                    {% if prd.name|length > 26 %}
                                        {{ prd.name|slice:":26" }}...
                                    {% else %}
                                        {{ prd.name }}
                                    {% endif %}
                                    {% endif %}</a></h3>
								</div>
								<div class="product-card--body">
									<div class="card-image">
										<img src="{{prd.first_image.url}}" >
										<div class="hover-contents">
											<a href="{% url 'base:product' prd.pid prd.id %}" class="hover-image">
												<img src="{{prd.second_image.url}}" >
											</a>
											<div class="hover-btns">
												<a href="cart.html" class="single-btn">
													<i class="fas fa-shopping-basket"></i>
												</a>
												
												<a href="{% url 'base:product' prd.pid prd.id %}" data-bs-toggle="modal" data-bs-target="#quickModal"
													class="single-btn">
													<i class="fas fa-eye"></i>
												</a>
											</div>
										</div>
									</div>
									<div class="price-block">
										<span class="price">${{prd.price_new}}</span>
                                    {% if prd.price_old != None and prd.price_old > 0 %}
                                    <del class="price-old">${{prd.price_old}}</del>
                                    {% endif %}
                                    {% if prd.price_old > prd.price_new and prd.discount_percentage > 0 %}
                                        <span class="price-discount">{{ prd.discount_percentage }}%</span>
                                    {% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
				<!-- Pagination Block -->
				<div class="row pt--30">
				    <div class="col-md-12">
				        <div class="pagination-block">
				            <ul class="pagination-btns flex-center">
				                {% if page_obj.has_previous %}
				                    <li><a href="?page=1" class="single-btn prev-btn ">|<i class="zmdi zmdi-chevron-left"></i> </a></li>
				                    <li><a href="?page={{ page_obj.previous_page_number }}" class="single-btn prev-btn "><i class="zmdi 				zmdi-chevron-left"></i> </a></li>
				                {% endif %}
				                {% for num in page_obj.paginator.page_range %}
				                    {% if page_obj.number == num %}
				                        <li class="active"><a href="#" class="single-btn">{{ num }}</a></li>
				                    {% else %}
				                        <li><a href="?page={{ num }}" class="single-btn">{{ num }}</a></li>
				                    {% endif %}
				                {% endfor %}
				                {% if page_obj.has_next %}
				                    <li><a href="?page={{ page_obj.next_page_number }}" class="single-btn next-btn"><i class="zmdi zmdi-chevron-right"				></i></a></li>
				                    <li><a href="?page={{ page_obj.paginator.num_pages }}" class="single-btn next-btn"><i class="zmdi 				zmdi-chevron-right"></i>|</a></li>
				                {% endif %}
				            </ul>
				        </div>
				    </div>
				</div>
				<!-- Modal -->

			</div>
		</main>
	</div>
{% endblock content %}

